#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  font-size: 10vh;
  margin: 10vh;
  will-change: filter;
}

@keyframes logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .snake {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
